body {
	margin: 0;
	font-family: helvetica;
	background: red;
}

h1 {
	color: white;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;

}

.avatar {
	border-radius: 50%;
	height: 80px;
	width: 80px;
}
